.theme-toggle {
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 4px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 56px;
  height: 28px;
  margin-left: 1rem;
}

.theme-toggle:hover {
  border-color: var(--hot-pink);
}

.toggle-track {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--electric-blue);
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  box-shadow: 0 0 4px var(--electric-blue);
}

html.light .theme-toggle .toggle-thumb {
  transform: translateX(calc(56px - 20px - 3px - 3px));
  background-color: var(--hot-pink);
  box-shadow: 0 0 4px var(--hot-pink);
}
